/* Universal Styles */
html{
  font-family: Helvetica;
  font-size: 18px;
}
body{
  margin: 0;
}

/* Header */
ul{
  list-style-type: none;
}
li{
  display: inline;
  margin-right: 1.5em;
  font-weight: lighter;
}
header{
 display: flex;
 align-items: center;
 max-height: 4em;
 padding-left: 1.5em;
 border: 1px solid black; 
}
header img{
  height: 3em;
}
#colmar{
color: #414449;
padding-left: 0.5em;
font-weight: bold;
}
#academy{
flex-grow: 1;
font-weight: lighter;
}
#colmar, #academy{
  font-size: 1.2rem;
}
/* Grey Font */

li, #academy{
  color: #a1a7af;
}

header li:hover{
  text-decoration: underline;
}
