/* Universal Styles */

html{
  font-family: Helvetica;
  font-size: 18px;
}
body{
  margin: 0;
}

/* Header */
ul{
  list-style-type: none;
}
li{
  display: inline;
  margin-right: 1.5em;
  font-weight: lighter;
}
header{
 display: flex;
 align-items: center;
 max-height: 4em;
 padding-left: 1.5em;
 border: 1px solid black;
}
header img{
  height: 3em;
}
#colmar{
color: #414449;
padding-left: 0.5em;
font-weight: bold;
}
#academy{
flex-grow: 1;
font-weight: lighter;
}
#colmar, #academy{
  font-size: 1.2rem;
}
/* Grey Font */

li, #academy{
  color: #a1a7af;
}
/* Animations */

header li:hover{
  text-decoration: underline;
}
/* Banner */

.banner{
  display: flex;
  border: 1px solid orange;
  background-color: #d3d9e2;
  margin: 0 auto;
}
.banner-text{
  border: 1px solid blue;
  max-width: 70%;
}
.button{
  border: 1px solid violet;
  background-color: grey;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 70%;
  text-align: center;
}
.banner img{
 max-width: 60%;
 height: 25rem;
 margin: 32px 24px;
}
h1, h2{
  display: inline;
}
h5{
}
.banner-container{
 display: flex;
 flex-direction: column;
 border: 1px solid black;
 max-width: 35%;
 align-items: center;
 justify-content: center;
}











